*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.centered {
  padding: 16px 16px;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 800px;
  height: 150px;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.5);
}
.whoWeAre{
  height: 400px;
}
.whoWeAre *{
  width: 100%;
}
.Staffs{
  height: 400px;
}